body {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    width: 100%;
    background: rgb(0,224,203);
    background: linear-gradient(243deg, rgba(0,224,203,1) 0%, rgba(45,45,203,1) 50%, rgba(52,7,89,1) 100%);
    height: 100%;
    margin: 0;
}
h2 {
    color: grey;
    margin: 0;
}

.poster > a {
    font-size: 50px;
    margin-top: 30px;
    margin-left: 40px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.centras {
    width: 100%;
    height: 100%;
}

.poster {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(9, 56, 9);
    background-image: url(./resource/poster.jpg);
    opacity: 0.6;
    width: 400px;
    display: flex;
    color: white;
    position: absolute;
    top: 20px;
    left: -400px;
    bottom: 20px;
}
.login {
    flex-direction: column;
    background-color: white;
    padding: 50px;;
    width: 500px;
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-16%, -50%);
    
}
.text {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    }
.text > p {
    margin: 0;
    padding: 5px 20px;
}
.get-started {
    text-decoration: none;
    background-color: blue;
    color: white;
    border-radius: 15px;
    padding: 5px 20px;
    cursor: default;
    pointer-events: none;
    user-select: none;
}
.sign-in {
    text-decoration: none;
    padding: 5px 0px;
    font-weight: bold;
}
.policy {
    width: 300px;
    position: absolute;
    left: 50px;
    bottom: 30px;
}
.policy > a {
    color: white;
}
.sign-in:hover {
    transition-duration: 1s;
    background-color: rgb(165, 160, 160);
    border-radius: 15px;
    padding: 5px 20px;
}
.poster > a {
    cursor: default;
    pointer-events: none;
    user-select: none;
}

.close > svg {
    height: 40px;
    width: 40px;
    padding: 15px;
    position: absolute;
    top: 0;
    right: 0;
    color: grey;
}